<h1>Subs</h1>
<ul>
  <% @subs.sort_by(&:vote_count).reverse.each do |subb| %>
    <li>
      (<%= subb.vote_count %>)<%= link_to subb.title, sub_url(subb) %>
      <% if logged_in? %>
        <div style="display: flex">
          <%= button_to 'Upvote', upvote_sub_url(subb), method: :post,
           disabled: subb.upvoted_by?(current_user) %>
          <%= button_to 'Downvote', downvote_sub_url(subb), method: :post,
           disabled: subb.downvoted_by?(current_user) %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
