<h1>Hella Cats!</h1>

<ul>
  <% @cats.each do |cat| %>
    <li class="cat"><a href="<%= cat_url(cat) %>"><%= cat.name %></a></li>
  <% end %>
</ul>

<a href="<%= new_cat_url %>">Add New Cat</a>
<br/>
<%= link_to "Rent Cat", new_cat_rental_request_url %>
